h2{
    font-family: Algerian;
   
}
#menus a{
  font-size: 30px;
  color: black;
  text-decoration:none;
  padding: 50px;
}
p{
  font-family: Arial Narrow;
  font-size: 17px;
}
#navlinks{
    font-family: Arial Narrow;
    font-size: 25px;
}
#topgreen{
  background-color: #61cc57;
}
#picgutter{
  background-color: #71df3e;
}
#topgrey, #bottomgrey{
  background-color:#b3b0b0;
}

#pB{
    margin-left: 10px;
    margin-top: 20px;
}
#pB2{
    margin-left: 10px;
}
.welcome, .favorite{
    margin-top: 20px;
    margin-bottom: 0px;
}
#columns{
    background-color: #61cc57;
}
#columnLeft{
    background-color: #71df3e;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 85px;
    margin-right: 5px;
    
}
#columnRight{
    background-color: #71df3e;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;    
}
#peacock, #parrot, #lovebirds, #phoenix{
  width: 150px;
  height: 150px;
  margin-left: 0px;
}

body{
    font-family: sans-serif;
}
/*#73da6a*/
#bottomPart{
    background-color: #61cc57;
    padding-left:80px;
}
#navbar{
    background-color: #61cc57;
}
#menus{
    position:relative;
    margin-left:50px;
    margin-right: 10px;
    margin-bottom: 0px;
    height: 50px;
    background-color: #71df3e;
    float:bottom;
    justify-content: space-between;
    align-items: center;
    padding-left:50px;
}
.topnav {
  position: relative;
  overflow: hidden;
  background-color: #61cc57;
}

.topnav h1 {
  float: left;
  color: #131212;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 50px;
  font-family:Algerian
}

.topnav-centered h1 {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
  width:100%; 
  height:auto; 
  max-width: 100px;
  margin-right:80px;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav h1, .topnav-right {
    float: none;
    display: block;
  }
  
  .topnav-centered h1 {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}
